.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: linear-gradient(135deg, #00c8ff41, hsla(305, 89%, 48%, 0.233));
  border: 2px solid white;
  border-image: repeating-linear-gradient(
      40deg,
      hsla(305, 89%, 48%, 0.233),
      #00c8ff41,
      hsla(305, 89%, 48%, 0.233) 20px
    )
    60;
  border-radius: 7px;
  padding: 20px;
}

h1 {
  color: rgb(16, 74, 250);
  font-size: 32px;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: left;
}

h4 {
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

.main-weather {
  padding-left: 10px;
}

.main-weather img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.temperature {
  font-size: 50px;
  font-weight: 300;
  line-height: 78px;
  margin-left: 10px;
  margin-right: 6px;
}

.unit {
  font-size: 20px;
  line-height: 1;
  position: relative;
  top: -20px;
}

.main-description {
  font-size: 13px;
  text-align: left;
}

.main-description ul {
  padding-top: 10px;
  line-height: 1.5;
}

img {
  opacity: 0.8;
}
