.WeatherForecast {
  text-align: center;
}

.WeatherForecast canvas {
  display: block;
  margin: 7px 0;
}

.WeatherForecastPreview canvas {
  display: block;
  margin: 7px 14px;
  height: 38px;
}

.WeatherForecastPreview {
  display: block;
  margin: 0 auto;
  background-color: rgb(300 290 200/0.1);
  border-radius: 64px;
  text-align: center;
}
