.WeatherForecast {
  text-align: center;

  margin: 10px;
  opacity: 0.9;
}

.WeatherForecast canvas {
  display: block;
  margin: 7px 0;
}

.WeatherForecastPreview canvas {
  display: block;
  margin: 7px 14px;
  height: 38px;
}

.WeatherForecastPreview {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 17px;
}
